.order-success {
  text-align: center;
  margin-top: 4rem;
  padding: 1rem;
}

.order-success h2 {
  font-size: 2rem;
  color: green;
  margin-bottom: 1rem;
}

.order-success p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.order-success button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.order-success button:hover {
  background-color: #e60000;
}
